@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css');

:root {
  --main-background-color: white;
  --header-background-color: 18, 18, 18; /* #121212 */
  --main-font-color: 55, 65, 81; /*#374151 */
  --btn-background-color: #e6e6e6;
  --header-font-color: whitesmoke;
  --light-font-color: #7e8390;
  --no-results-font-color: #909090;
  --rating-icon-color: #fec555;
  --border-style: 1px solid #d1d5db;
  --border-radius: 8px;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

html {
  line-height: 1.5;
}

body {
  font-family: 'Inter', sans-serif;
  color: rgb(var(--main-font-color));
  background-color: var(--main-background-color);
}

p {
  margin-top: 0;
}

a,
button,
input {
  font-family: inherit;
  color: inherit;

  &:focus,
  &:focus-visible {
    outline: 2px solid rgba(55, 65, 81, 0.35);
    outline-offset: -3px;
  }

  &:focus:not(:focus-visible) {
    outline: none;
  }
}

button {
  cursor: pointer;
}

input {
  padding: 0 0.5rem;
}

a {
  position: relative;
  font-size: 0.875rem;
  font-weight: 600;
  text-transform: uppercase;
  color: var(--header-font-color);
  text-decoration: none;

  @media (min-width: 768px) {
    font-size: 1rem;
  }

  &:hover::after {
    position: absolute;
    content: '';
    width: 100%;
    left: 0;
    bottom: -5px;
    border-bottom: 3px solid var(--header-font-color);
  }

  & i {
    padding-left: 0.5rem;
  }
}

form {
  max-width: 600px;
  display: flex;
  align-items: center;
  background-color: var(--main-background-color);
  border: var(--border-style);
  border-radius: var(--border-radius);
  margin: 0 auto;

  @media (min-width: 768px) {
    margin-top: -4.5rem;
  }
}

.container {
  max-width: 1200px;
  height: 100%;
  margin: 0 auto;
  padding: 1.25rem;

  @media (min-width: 768px) {
    padding: 3rem;
  }
}

.btn-text {
  background-color: transparent;
  line-height: inherit;
  padding: 0 0.0625rem;
  border: none;
  transition: background-color 250ms ease-in-out;

  .icon {
    transition: transform 250ms ease-in-out;
  }

  &:hover {
    background-color: var(--btn-background-color);

    .icon {
      transform: scale(1.1);
    }
  }

  &:focus,
  &:focus-visible {
    outline-offset: 0;
  }
}

.header-section {
  color: var(--header-font-color);

  .content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 200px;
    background-color: rgb(var(--header-background-color));
    background: linear-gradient(rgb(var(--header-background-color), 0.7), rgb(var(--header-background-color), 0.7)),
      url('./images/header-background.png');
    background-size: cover;
    background-position: center;

    @media (min-width: 768px) {
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      height: 250px;
    }
  }

  .title {
    margin: 0;
    font-size: 1.75rem;
    font-weight: 600;
    text-transform: uppercase;

    span {
      font-weight: 300;
    }

    @media (min-width: 768px) {
      font-size: 2.25rem;
    }
  }

  .link {
    align-self: flex-end;

    &:focus,
    &:focus-visible {
      outline-color: var(--header-font-color);
      outline-offset: 4px;
    }

    @media (min-width: 768px) {
      align-self: auto;
    }
  }
}

.search-form {
  .icon {
    color: #9da3af;
    margin: 0 0.5rem;

    @media (max-width: 511px) {
      display: none;
    }
  }

  .input {
    flex-grow: 1;
    align-self: stretch;
    border: none;
    border-top-left-radius: inherit;
    border-bottom-left-radius: inherit;

    &::placeholder {
      color: #6b7280;
    }
  }

  .btn {
    background-color: var(--btn-background-color);
    padding: 0.75rem 1.5rem;
    border: none;
    border-left: var(--border-style);
    border-top-right-radius: inherit;
    border-bottom-right-radius: inherit;
    transition: color 250ms ease-in-out, background-color 250ms ease-in-out;

    @media (min-width: 768px) {
      padding: 0.75rem 2.25rem;
    }

    &:hover {
      color: var(--main-background-color);
      background-color: rgb(var(--main-font-color));
    }
  }
}

.search-results {
  margin-top: 2rem;

  @media (min-width: 768px) {
    width: min(100%, 90ch);
    margin: 3rem auto;
  }
}

.start-search {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: var(--no-results-font-color);
  margin-top: 6rem;

  @media (min-width: 768px) {
    margin-top: 8rem;
  }

  .icon {
    font-size: 4rem;

    @media (min-width: 768px) {
      font-size: 6rem;
    }
  }

  .message {
    font-size: 1.5rem;
    font-weight: bold;

    @media (min-width: 768px) {
      font-size: 2rem;
    }
  }
}

.result-container {
  display: grid;
  gap: 0.75rem;
  grid-template-columns: 100px auto;
  grid-template-rows: auto auto 1fr;
  grid-template-areas:
    'image title'
    'image information'
    'plot plot';
  font-size: 0.875rem;
  border-bottom: var(--border-style);
  margin: 1.5rem 0;
  padding-bottom: 1.5rem;

  &:not(:first-of-type) {
    margin-top: 1rem;
  }

  @media (min-width: 768px) {
    column-gap: 1.5rem;
    row-gap: 1rem;
    grid-template-columns: 150px auto;
    grid-template-areas:
      'image title'
      'image information'
      'image plot';
    font-size: 1rem;
  }
}

.image-container {
  grid-area: image;
  width: 100px;

  .image {
    display: block;
    max-width: 100%;
  }

  @media (min-width: 768px) {
    width: 150px;
  }
}

.title-container {
  grid-area: title;

  @media (min-width: 768px) {
    display: flex;
    align-items: baseline;
    gap: 0.5rem;
  }

  .title {
    font-size: 1.25rem;
    font-weight: 500;
    line-height: 1.2;
    margin: 0 0 0.25rem;

    @media (min-width: 768px) {
      font-size: 1.5rem;
      margin-bottom: 0;
    }
  }

  .year {
    font-size: 1rem;
    font-weight: 400;
    color: var(--light-font-color);
  }
}

.rating-container {
  white-space: nowrap;

  &.large-view {
    display: none;
  }

  @media (min-width: 768px) {
    &.small-view {
      display: none;
    }

    &.large-view {
      display: initial;
      font-size: 1rem;
    }
  }

  .icon {
    color: var(--rating-icon-color);
  }
}

.information-container {
  grid-area: information;

  @media (min-width: 768px) {
    display: flex;
    align-items: baseline;
    gap: 1rem;
  }
}

.plot-container {
  grid-area: plot;

  .plot {
    display: inline;
    font-size: 0.875rem;
    color: var(--light-font-color);
    margin-bottom: 0;
  }

  .overflow {
    display: none;
  }

  .read-more {
    font-size: 0.875rem;
    font-weight: 500;
  }

  &.expanded {
    .ellipsis {
      display: none;
    }

    .overflow {
      display: inline;
      outline: none;
    }
  }
}
